[submodule "tools"]
	path = tools
	url = https://github.com/ryanplusplus/arm-none-eabi-gcc-tools
[submodule "lib/tiny.cpp"]
	path = lib/tiny.cpp
	url = https://github.com/ryanplusplus/tiny.cpp
[submodule "lib/asf"]
	path = lib/asf
	url = https://github.com/avrxml/asf
